.header {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  padding: 0 0px;
  margin: auto;
  background-color: #93ad18;
  a {
    text-decoration: none;
  }
  h1 {
    color: white;
    padding: 0px 20px;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      display: flex;
      justify-content: space-around;
      color: white;
      font-size: 20px;
      padding: 0px 20px;
      margin-left: 1em;
      text-decoration: none;
      font-weight: 500;
      line-height: 34px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0px;
    nav {
      a {
        font-size: 12px;
        padding: 0px;
      }
    }
  }
  .about {
    margin-left: 1.5em;
  }
}
