body {
  background-color: #f1f3fb;
  font-family: "Roboto", sans-serif;
  font-display: swap;
}

form {
  width: 30%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 0;
  z-index: 1;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 7px 0 rgba(#999, 0.25);
  max-width: 1440px;
  background-color: white;
  height: 100%;
  width: 100%;
  margin: 0 auto 5em auto;
}

/* FORM */
.input {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 1.5rem;
  & + .input {
    margin-top: 1rem;
  }
}

.input-label {
  color: #202023;
  margin-bottom: 5px;
}

.input-field {
  border: 0;
  z-index: 0;
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;
  transition: all 0.25s cubic-bezier(1, 0, 0, 1);
  &:focus,
  &:valid {
    outline: 0;
    border-bottom-color: #202023;
    will-change: auto;
  }
}
.error {
  border-bottom-color: red !important;
}
/* SAVE BUTTOn */
.btn {
  border-radius: 3px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin: 2em auto 4em;
  width: 100%;
  background-color: white;
  padding: 16px;
  border: 1px solid wheat;
  border-color: wheat;
  color: black;
  z-index: 20;
  transition: all 0.25s cubic-bezier(1, 0, 0, 1);
}

.btn:hover {
  color: black;
  background-color: wheat;
}

/* MODAL CLOSE BTN */
.close-container {
  position: relative;
  margin: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.leftright {
  height: 4px;
  width: 15px;
  position: absolute;
  background-color: #202023;
  border-radius: 2px;
  transform: rotate(45deg);
  // transition: all 0.3s ease-in;
}

.rightleft {
  height: 4px;
  width: 15px;
  position: absolute;
  background-color: #202023;
  border-radius: 2px;
  transform: rotate(-45deg);
  //transition: all 0.3s ease-in;
}

.close-container:hover .leftright {
  //transform: rotate(-45deg);
  background-color: wheat;
}
.close-container:hover .rightleft {
  //transform: rotate(45deg);
  background-color: wheat;
}
.close-container:hover label {
  opacity: 1;
}

@media screen and (max-width: 1070px) {
  form {
    width: 80%;
  }
}

/* MODAL */
@keyframes modalOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal {
  animation: modalOpacity 0.25s ease-out;
  // transform: translate(-50%, -50%);
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  100% {
    opacity: 1;
  }
}

.modalContent {
  animation: appear 350ms ease-out 1;
  transform: translate(-50%, -50%);
}
